:root { 
--light_green_900:#426b1f; 
--gray_600:#6d6d6d; 
--gray_400:#c2c2c2; 
--black_900:#000000; 
--black_900_0f:#0000000f; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_300:#e6e6e6; 
--gray_50:#fafaf5; 
}